{{#if user.isIncomeDone}}
  {{status-graphs}}
{{else}}
  <!-- Part 3 of the introduction survey -->
  <div class="mdl-grid settings demo-content">
    <section class="section--center mdl-grid--no-spacing mdl-grid mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
          <h4 class="mdl-cell--12-col">Just a Few More Questions</h4>
            <p>Do you have a monthly income?</p>
            <form {{action "noop" on="submit"}}>
              {{mdl-radio
                action="incomeAction"
                checked=hasIncome
                name="hasMonthlyIncome"
                text="Yes"
                value="hasIncome"
              }}
              {{mdl-radio
                action="incomeAction"
                checked=noIncome
                name="hasMonthlyIncome"
                text="No"
                value="noIncome"
              }}
            </form>
 
            {{#if user.hasMonthlyIncome}}
              <p>What is your monthly income?</p>
              <form {{action "noop" on="submit"}}>
                {{mdl-textfield
                  errorMessage="Please input a number"
                  isLabelFloating=true
                  label="$"
                  pattern="[0-9]*(\.[0-9]+)?"
                  value=user.monthlyIncome
                }}
              </form>
              <p>
                * Monthly income may include the following: salary, side jobs.
              </p>
            {{else}}
              <p>No problem, how much can you spend a month?</p>
              <form {{action "noop" on="submit"}}>
                {{mdl-textfield
                  errorMessage="Please input a number"
                  isLabelFloating=true
                  label="$"
                  pattern="[0-9]*(\.[0-9]+)?"
                  value=user.monthlyCash
                }}
              </form>
              <p>
                * This may include stipends or other sources of income.
              </p>
            {{/if}}
        </div>
        <div class="mdl-card__actions">
          {{#mdl-button
            action="incomeDoneAction"
            isColored=true
            isRaised=true
          }}
            Let's Get Started!
          {{/mdl-button}}
        </div>
      </div>
    </section>
  </div>
{{/if}}