{{#if isIntroDone}}
  <!-- Gather user details e.g. name, age, work status -->
  <div class="mdl-grid settings demo-content">
    <section class="section--center mdl-grid--no-spacing mdl-grid mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
          <h4 class="mdl-cell--12-col">Tell Us About Yourself</h4>
            <h5>Personal Details</h5>
            {{user-details}}
            <h5>Life Stage</h5>
            <form {{action "noop" on="submit"}}>
              {{mdl-radio
                action="stageInLifeAction"
                checked=isHighSchoolChecked
                name="stageInLife"
                text="High School"
                value="HIGHSCHOOL"}}

              {{mdl-radio
                action="stageInLifeAction"
                checked=isCollegeChecked
                name="stageInLife"
                text="College"
                value="COLLEGE"}}

              {{mdl-radio
                action="stageInLifeAction"
                checked=isCareerChecked
                name="stageInLife"
                text="Career"
                value="CAREER"}}
            </form>
        </div>
        <div class="mdl-card__actions">
          {{#mdl-button
            action="surveyDoneAction"
            isColored=true
            isRaised=true
          }}
            Next
          {{/mdl-button}}
        </div>
      </div>
    </section>
  </div>
{{/if}}
