<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Please tell us about yourself</h2>
  </div>
  <div class="mdl-card__supporting-text">
		<form action="#">
		 	{{mdl-textfield label="Name" value=name isLabelFloating=true}}
		  {{mdl-textfield label="Age" value=age isLabelFloating=true pattern="-?[0-9]*(\.[0-9]+)?" errorMessage="Please input a number"}}
		  {{mdl-textfield label="Email" value=email isLabelFloating=true}}
		  {{mdl-textfield label="Phone" value=phone isLabelFloating=true}}
		</form>
  </div>
</div>

<br/>

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Where are you now?</h2>
  </div>
  <div class="mdl-card__supporting-text">
		<form action="#">
			{{mdl-radio value="HIGHSCHOOL" text='High School' name='life'}}
			{{#mdl-radio name='life' value="COLLEGE"}}
			  College
			{{/mdl-radio}}
			{{#mdl-radio name='life' value="CAREER"}}
			  Career
			{{/mdl-radio}}
		</form>
  </div>
</div>

<br/>

{{#mdl-button isColored=true isRaised=true}}Let's Go!{{/mdl-button}}