<div class="mdl-grid demo-content">
  <section class="section--center mdl-grid--no-spacing mdl-grid mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid--no-spacing mdl-grid">
        <h5 class="mdl-cell--12-col">Here's How Much You Owe</h5>

        {{#if hasDebtListItems}}

          <p class="debt-table">
            The table below shows the debt items that added during initial setup.  We have organized the debt items based on what should be paid first and a recommendation to pay more if you can.
            You can also add the recommendations as goals to ensure that you keep track of your progress and money saved.
          </p>
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Name</th>
                  <th>Total Amount ($)</th>
                  <th>Monthly Payment ($)</th>
                  <th>Recommended Payment ($)</th>
                  <th>You Save ($)</th>
                  <th>Add Goal</th>
                </tr>
              </thead>
              <tbody>
                {{#each recommendedDebtList as |row|}}
                  <tr>
                    <td>{{row.name}}</td>
                    <td>${{row.totalAmount}}</td>
                    <td>${{row.monthlyPayment}}</td>
                    <td>${{row.recommendedPayment}}</td>
                    <td>${{row.totalSaved}}</td>
                    <td>
                      {{mdl-switch name=row.name action="updateGoal"}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>

          <h5>What To Do Next?</h5>
          {{#if hasIncome}}
            <p>
              Looks like you have some money left over.  Let's look at some investment options and then setup some goals.
            </p>
              <ul class="debt-goals">
                <li>{{#link-to "goals"}}Setup some goals{{/link-to}}</li>
                <li>{{#link-to "investment"}}Look at investment choices{{/link-to}}</li>
              </ul>
          {{/if}}

          {{#if activatedGoals}}

          {{/if}}
        {{else}}
          <p>Woohoo, no debt! Perhaps set some {{link-to "Goals" "goals"}}.</p>
        {{/if}}
      </div>
    </div>
  </section>
</div>