{{#if user.isIncomeDone}}
  {{#unless user.isDebtDone}}
    <div class="mdl-grid settings demo-content">
      <section class="section--center mdl-grid--no-spacing mdl-grid mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text">
            <h4 class="mdl-cell--12-col">Tell Us About Your Financial Status</h4>
              <h5>Living expenses</h5>
              <p class="notation">
                Living expenses may include food, transport, entertainment, rent, etc.
              </p>
              <form {{action "noop" on="submit"}}>
                {{mdl-textfield
                  errorMessage="Please input an amount"
                  isLabelFloating=true
                  label="$"
                  pattern="[0-9]*(\.[0-9]+)?"
                  value=user.livingExpenses
                }}
              </form>
            </div>
              <h5>Do you owe any money?</h5>
              <form {{action "noop" on="submit"}}>
                {{mdl-radio
                  action="debtAction"
                  checked=hasDebt
                  name="hasDebt"
                  text="Yes"
                  value="hasDebt"
                }}
                {{mdl-radio
                  action="debtAction"
                  checked=noDebt
                  name="hasDebt"
                  text="No"
                  value="noDebt"
                }}
              </form>

              {{#if user.hasDebt}}
                {{add-debt}}
              {{else}}
                  <h5>Awesome! You may be interested in the items below</h5>
                  {{#link-to 'goals'}}
                    Goals
                  {{/link-to}}

                  {{#link-to 'investment'}}
                    Investments
                  {{/link-to}}
              {{/if}}
          </div>
        </div>
      </section>
    </div>

  {{/unless}}
  {{#if user.isDebtDone}}
    {{display-debt}}
  {{/if}}

{{/if}}