<form {{action "noop" on="submit"}}>
 	{{mdl-textfield label="Name" value=user.name isLabelFloating=true}}
  {{mdl-textfield label="Age" value=user.age isLabelFloating=true pattern="[0-9]*" errorMessage="Please input a number"}}
  {{mdl-textfield label="Email" value=user.email isLabelFloating=true}}
  {{mdl-textfield label="Phone" value=user.phone isLabelFloating=true}}
</form>