{{#mdl-nav title='TPS Reports' fixedHeader=true}}

  {{mdl-nav-item name='Personal Finance'    route='finance'}}
  {{mdl-nav-item name='Goals'               route='goals'}}
  {{mdl-nav-item name='Investments'         route='investment'}}
  {{mdl-nav-item name='Resources'           route='resources'}}
  {{mdl-nav-item name='Settings'}}

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      {{outlet}}
    </div>
  </div>
{{/mdl-nav}}

<ul class="user-account">
  <li>{{user.name}}</li>
  <li>
    {{#mdl-menu align='bottom-right' class='right'}}
      {{#each users as |user|}}
        {{#mdl-menu-item action='changeUser' userId=user.id}}{{user.name}}{{/mdl-menu-item}}
      {{/each}}
    {{/mdl-menu}}
  </li>
</ul>