<h5>How much do you owe each month?</h5>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Debt Type</th>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Total Amount</th>
      <th>Monthly Payment</th>
      <th>Interest Rate</th>
    </tr>
  </thead>
  <tbody>
    {{#each debtList as |row|}}
      <tr>
        <td>{{row.type}}</td>
        <td>{{row.name}}</td>
        <td>${{row.totalAmount}}</td>
        <td>${{row.monthlyPayment}}</td>
        <td>{{row.interestRate}}%</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- Add new debt items -->
<h5>Add New Debt</h5>
<div class="mdl-shadow--2dp">
  <form action="#" {{action "noop" on="submit"}}>
    {{view "select"
       content=debtTypes
       optionValuePath="content.type"
       optionLabelPath="content.name"
       value=debtType
       prompt="Please select a debt type"}}
    {{mdl-textfield label="Name" value=debtName isLabelFloating=true}}
    {{mdl-textfield
      errorMessage="Please input a number"
      isLabelFloating=true pattern="-?[0-9]*(\.[0-9]+)?"
      label="Total Amount ($)"
      value=debtTotalAmount}}
    {{mdl-textfield
      isLabelFloating=true
      label="Monthly Payment ($)"
      value=debtMonthlyPayment}}
    {{mdl-textfield
      isLabelFloating=true
      label="Interest Rate (%)"
      value=debtInterestRate}}

    {{#mdl-button action="updateDebtList" isColored=true isRaised=true}}
      Add Debt Item
    {{/mdl-button}}
  </form>
</div>