<!-- Start Add new debt items -->
<h5>Add New Debt</h5>
<form action="#" {{action "noop" on="submit"}}>
  <div class="ember-view debt-type mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty is-upgraded">
    {{view "select"
       content=debtTypes
       optionValuePath="content.type"
       optionLabelPath="content.name"
       value=debtType
       prompt="Please select a debt type"}}
    <label class="mdl-textfield__label">Debt Type</label>
  </div>
  {{mdl-textfield label="Name" value=debtName isLabelFloating=true}}
  {{mdl-textfield
    errorMessage="Please input a number"
    isLabelFloating=true pattern="-?[0-9]*(\.[0-9]+)?"
    label="Total Amount ($)"
    value=debtTotalAmount}}
  {{mdl-textfield
    isLabelFloating=true
    label="Monthly Payment ($)"
    value=debtMonthlyPayment}}
  {{mdl-textfield
    isLabelFloating=true
    label="Interest Rate (%)"
    value=debtInterestRate}}

  {{mdl-button
    action="updateDebtList"
    icon="add"
    isColored=true
    isFloating=true
    isRaised=true }}
</form>
<!-- End Add new debt items -->

<!-- Start Add debt item -->
<h5>Debt List</h5>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Debt Type</th>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Total Amount</th>
      <th>Monthly Payment</th>
      <th>Interest Rate</th>
    </tr>
  </thead>
  <tbody>
    {{#each debtList as |row|}}
      <tr>
        <td>{{row.type}}</td>
        <td>{{row.name}}</td>
        <td>${{row.totalAmount}}</td>
        <td>${{row.monthlyPayment}}</td>
        <td>{{row.interestRate}}%</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<!-- End Add debt item -->