<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">How much do you owe each month?</h2>
  </div>
  <div class="mdl-card__supporting-text">
  	Tell us about each type of what you owe
		<form action="#">
			** needs inline-block ** 	
			<ul>
				<li></li>
				<li>{{mdl-textfield label="Name" value=name isLabelFloating=true}}</li>
				<li><{{mdl-textfield label="Total Amount" value=name isLabelFloating=true}}/li>
				<li>{{mdl-textfield label="Monthly Payment" value=name isLabelFloating=true}}</li>
				<li>{{mdl-textfield label="Interest Rate" value=name isLabelFloating=true}}</li>
				<li>{{#mdl-button isColored=true isRaised=true}}Save{{/mdl-button}}</li>
			</ul>
			{{mdl-button isFloating=true icon='add'}} Add New Row
			<br/>
			{{#mdl-button isColored=true isRaised=true}}Done{{/mdl-button}}
		</form>
  </div>
</div>