{{#if user.isSurveyDone}}

  {{status-graphs class="status-graphs mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid"}}

  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Hi {{user.name}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
  		We are almost there. Before we being we need a couple of details
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Do you have a monthly income?</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form action="#">
      {{mdl-radio value="HIGHSCHOOL" text='Yes' name='hasMonthlyIncome'}}
      {{#mdl-radio name='hasMonthlyIncome' value=hasMonthlyIncome}}
        No
      {{/mdl-radio}}
      </form>
    </div>
  </div>

  ** if yes and there is a note about conditional for life stages **
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">How much can you spend a month?</h2>
    </div>
    <div class="mdl-card__supporting-text">
  		<form action="#">
        {{mdl-textfield label="$" value=null isLabelFloating=true pattern="[0-9]*(\.[0-9]+)?" errorMessage="Please input a number"}}
  		</form>
  		Info box: Monthly income may include the following: salary, side jobs
    </div>
  </div>

  ** if no ** 
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">How much can you spend a month?</h2>
    </div>
    <div class="mdl-card__supporting-text">
  		<form action="#">
        {{mdl-textfield label="$" value=null isLabelFloating=true pattern="[0-9]*(\.[0-9]+)?" errorMessage="Please input an amount"}}
  		</form>
    </div>
  </div>

  <br/>
  {{#mdl-button isColored=true isRaised=true}}Let's Get Started{{/mdl-button}}
  <br/>

  {{status-graphs class="status-graphs mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid"}}
  <br/>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Basic Details</h2>
    </div>
    <div class="mdl-card__supporting-text">
    	Assumed living expenses (includes food, transport, entertainment, rent, etc.)
  		<form action="#">
        {{mdl-textfield label="$" value=null isLabelFloating=true pattern="[0-9]*(\.[0-9]+)?" errorMessage="Please input an amount"}}
  		</form>
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Do you owe any money?</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form action="#">
        {{mdl-radio value=hasDebt text='Yes' name='hasDebt'}}
        {{#mdl-radio name='hasDebt' value=user.hasMonthlyIncome}}
          No
        {{/mdl-radio}}
      </form>
    </div>
  </div>

  ** if yes from above **
  {{add-debt}}

  ** if no from above **
  Please see {{#mdl-button isColored=true isRaised=true}}Investments{{/mdl-button}} or {{#mdl-button isColored=true isRaised=true}}Goals{{/mdl-button}}

  {{display-debt}}
{{/if}}
